<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="../../css/auth.css">
</head>

<body>
    <div class="container">
        <h1>Iniciar sesión</h1>
        <form id="login-form">
            <div class="divs-contenedores">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="User@gmail.com" required>
            </div>
            <div class="divs-contenedores">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="••••••••••••••••" required>
            </div>
            <div class="">
                <div class="checkbox-group">
                    <input type="checkbox" id="recuerdame" name="recuerdame" required>
                    <label for="terms">Recúerdame</label>
                </div>
                <br />
            </div>
            <div class="divs-contenedores">
                <button type="submit">Iniciar sesión</button>
            </div>
            <div class="auth-link">
                <label for="register-link"><a href="register.html">Regístrate</a></label>
            </div>
        </form>
    </div>
</body>

<!-- SCRIPT PARA TRAER LOS DATOS -->
<script>
    var loginForm = document.getElementById('login-form');

    var user = JSON.parse(localStorage.getItem('user'));

    if (user) {
        document.getElementById('email').value = user.email;
        document.getElementById('password').value = user.password;
    }

    loginForm.addEventListener('submit', function (event) {
        event.preventDefault();

        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        if (user && email === user.email && password === user.password) {
        
            alert('Inicio de sesión vádido');
         
            window.location.href = '../index.html';
        } else {
       
            alert('El correo o la contraseña son incorrectos. Por favor, verifica tus credenciales.');
        }
    });
</script>

</html>