<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portatiles</title>
    <link rel="stylesheet" href="../../css/index.css">

</head>

<body>
    <header>
        <div class="logo">
            <img src="../../../public/images/logo.png" alt="Logo">
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li>
                    <a href="#">Productos</a>
                    <ul>
                        <li><a href="../auth/ordenadores.html">Ordenadores</a></li>
                        <li><a href="../auth/teclados.html">Teclados</a></li>
                        <li><a href="#">Portatiles</a></li>
                        <li><a href="../auth/ratones.html">Ratones</a></li>
                        <li><a href="../auth/placasbase.html">Placa base</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul>
                        <li><a href="#">Cambio de piezas</a></li>
                        <li><a href="#">Reparación/Formatear</a></li>
                        <li><a href="#">Mantenimiento</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contacto</a>
                    <ul>
                        <li><a href="#">Devolución</a></li>
                        <li><a href="#">Atención al cliente</a></li>
                        <li><a href="#">Postventa</a></li>
                    </ul>
                </li>
                <li><a href="#">Donde estamos</a></li>
                <li><a href="../auth/login.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Portatiles</h1>

        <div class="portatiles">
            <div class="producto">
                <img src="../../../public/images/portatil1.png" alt="portatil1">
                <h3>Portatil 1</h3>
                <p>HOLA</p>
                <a href="#">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../public/images/portatil2.png" alt="portatil2">
                <h3>Portatil 2</h3>
                <p>HOLA2</p>
                <a href="#">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../public/images/portatil3.png" alt="portatil3">
                <h3>Portatil 3</h3>
                <p>HOLA3.</p>
                <a href="#">Comprar</a>
            </div>
        </div>
    </main>
    <footer>
        <p>Tienda de Informática © 2023</p>
    </footer>
</body>

</html>