<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME PAGE</title>
  <link rel="stylesheet" href="/app/public/css/app.css">
</head>

<body>

  <!-- MENÚ BARRA ARRIBA -->
  <header>
    <div class="logo">
      <h1>Tienda de Informática GRUPO 6</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/resources/views/index.html">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <!-- MENÚ IZQUIERDA -->
  <div class="container">
    <aside>
      <h2>Categorías</h2>
      <ul>
        <li><a href="../1/ejemplo.html">EJEMPLO1</a></li>
        <li><a href="#">EJEMPLO2</a></li>
        <li><a href="#">EJEMPLO3</a></li>
      </ul>
    </aside>

    <!-- CONTENIDO A CAMBIAR DE LA PÁGINA -->
    HOLA
  </div>

  <!-- BARRA INFERIOR -->
  <footer>
    <p>Tienda de Informática © 2023</p>
  </footer>
</body>

</html>

</body>

</html>