<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>

  <!-- MENÚ BARRA ARRIBA -->
  <header>
    <div class="logo">
      <img src="../../app/public/images/logo.png" alt="Logo">
    </div>

    <nav>
      <ul>
        <li><a href="../views/index.html">Inicio</a></li>
        <li>
          <a href="#">Productos</a>
          <ul>
            <li><a href="../views/productos/ordenadores.html">Ordenadores</a></li>
            <li><a href="../views/productos/teclados.html">Teclados</a></li>
            <li><a href="../views/productos/portatiles.html">Portatiles</a></li>
            <li><a href="../views/productos/ratones.html">Ratones</a></li>
            <li><a href="../views/productos/placasbase.html">Placa base</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Servicios</a>
          <ul>
            <li><a href="#">Cambio de piezas</a></li>
            <li><a href="#">Reparación/Formatear</a></li>
            <li><a href="#">Mantenimiento</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Contacto</a>
          <ul>
            <li><a href="#">Devolución</a></li>
            <li><a href="#">Atención al cliente</a></li>
            <li><a href="#">Postventa</a></li>
          </ul>
        </li>
        <li><a href="#">Donde estamos</a></li>
        <li><a href="../views/auth/login.html">Iniciar sesión</a></li>
      </ul>
    </nav>
  </header>


  <div class="slider">
    <img src="../../app/public/images/slider.jpg" alt="Slider" id="slider">
  </div>

  <!-- MENÚ IZQUIERDA -->
  <div class="container">
    <aside>
      <h2>Categorías</h2>
      <ul>
        <li><a href="/resources/views/1/ejemplo1.html">EJEMPLO1</a></li>
        <li><a href="#">EJEMPLO2</a></li>
        <li><a href="#">EJEMPLO3</a></li>
      </ul>
    </aside>

    <!-- CONTENIDO A CAMBIAR DE LA PÁGINA -->
    <main>
      <h2>Últimos Productos</h2>
      <div class="productos">
        <div class="producto">
          <img src="../../public/images/GATO.png" alt="Producto 1">
          <h3>Producto 1</h3>
          <p>HOLA</p>
          <a href="#">Comprar</a>
        </div>
        <div class="producto">
          <img src="../../public/images/GATO.png" alt="Producto 2">
          <h3>Producto 2</h3>
          <p>HOLA2</p>
          <a href="#">Comprar</a>
        </div>
        <div class="producto">
          <img src="../../public/images/GATO.png" alt="Producto 3">
          <h3>Producto 3</h3>
          <p>HOLA3.</p>
          <a href="#">Comprar</a>
        </div>
      </div>
    </main>
  </div>

  <!-- BARRA INFERIOR -->
  <footer>
    <p>Tienda de Informática © 2023</p>
  </footer>
</body>

</html>
