<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Empleado</title>
</head>
<body>
    <div>
        <p>Area Empleados</p>
        <a href="../index.html">
            <p>Volver Al Inicio</p>
        </a>
    </div>
    <div>
        <a href="./altas/altas.html">
            <button>Altas</button>
          </a> 
          
          <a href="./bajas/bajas.html">
            <button>Bajas</button>
          </a> 
    </div>
</body>
</html>