<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Empleado</title>
</head>
<body>
    <div>
        <p>Area Empleados</p>
        <p>Alta Establecimiento</p>
        <p>Alta Almacen</p>
        <p>Alta estante</p>
        <p>Alta producto</p>
    </div>
    <div>
        <a href="./tecnico/indexTecnico.html">
            <button>Tecnico</button>
          </a> 
          
          <a href="./dependiente/indexDependiente.html">
            <button>Dependiente</button>
          </a> 
    </div>
</body>
</html>