@media screen and (max-width: 1920px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
    }

    header {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .container,
    aside,
    main {
        min-height: 82vh;
    }

    .logo h1 {
        font-size: 1.8em;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin: 0 10px;
    }

    nav a {
        color: #fff;
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
    }

    aside {
        background-color: #333;
        flex-basis: 15%;
        padding: 20px;
    }

    aside h2 {
        margin-bottom: 10px;
        color: #ffffff;
    }

    aside ul {
        list-style: none;
    }

    aside li {
        margin-bottom: 5px;
    }

    aside a {
        color: #ffffff;
        text-decoration: none;
    }

    aside a:hover {
        text-decoration: underline;
    }

    main {
        flex-basis: 75%;
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
    }

    .producto {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        flex-basis: calc(33.33% - 20px);
        margin: 20px 10px;
        padding: 20px;
        text-align: center;
    }

    .producto img {
        margin-bottom: 10px;
    }

    .producto h3 {
        margin-bottom: 10px;
    }

    .producto p {
        font-size: 0.8em;
        margin-bottom: 15px;
    }

    .producto a {
        background-color: #333;
        border: none;
        border-radius: 5px;
        color: #fff;
        display: block;
        margin: 10px auto 0;
        padding: 10px 20px;
        text-decoration: none;
    }

    .producto a:hover {
        background-color: #555;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        text-align: center;
    }

    footer p {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    aside {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    main {
        flex-basis: 100%;
    }

    .producto {
        flex-basis: calc(50% - 20px);
    }


}

@media screen and (max-width: 480px) {
    .produco {
        flex-basis: calc(100% - 20px);
    }


}

