<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baja Establecimiento</title>
</head>
<body>
    <div>
        <h1>Baja Establecimiento</h1>
        <a href="./bajas.html">
            <p>Volver Atras</p>
        </a>
    </div>
    <div>
        <form>
            <legend> Baja Establecimiento</legend>
                <label>Id Estblecimiento</label>
                <input type="text"  required/>
                <br/>
                <label>Id Empleado</label>
                <input type="text"  required/>
                <br/>
                <label>Id Almacen</label>
                <input type="text"  required/>
                <br/>
                <label>Motivo Baja</label>
                <textarea></textarea>
                <input type="submit" value="Enviar"/>
        </form>
    </div>
</body>
</html>