<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baja Empleado</title>
</head>
<body>
    <div>
        <h1>Baja Empleado</h1>
        <a href="../areaEmpleado.html">
            <p>Volver Atras</p>
        </a>
    </div>
    <div>
        <form>
            <legend>Baja Empleado</legend>
            <label>Id del empleado</label>
            <input type="text"  required/>
            <br/>
            <label>Fecha de la baja</label>
            <input type="date"  required/>
            <br/>
            <label> Motivo de la Baja</label>
            <textarea></textarea>
            <input type="submit" value="Enviar"/>
        </form>
    </div>
</body>
</html>