<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordenadores</title>
    <link rel="stylesheet" href="../../css/index.css">

</head>

<body>
    <header>
        <div class="logo">
            <img src="../../../app/public/images/logo.png" alt="Logo">
        </div>

        <nav>
            <ul>
                <li><a href="../views/index.html">Inicio</a></li>
                <li>
                    <a href="#">Productos</a>
                    <ul style="position: absolute; margin-left: 90px" ;>
                        <li><a href="../views/productos/ordenadores.html">Ordenadores</a></li>
                        <li><a href="../views/productos/teclados.html">Teclados</a></li>
                        <li><a href="../views/productos/portatiles.html">Portatiles</a></li>
                        <li><a href="../views/productos/ratones.html">Ratones</a></li>
                        <li><a href="../views/productos/placasbase.html">Placa base</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul style="position: absolute; margin-left: 180px" ;>
                        <li><a href="#">Cambio de piezas</a></li>
                        <li><a href="#">Reparación/Formatear</a></li>
                        <li><a href="#">Mantenimiento</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contacto</a>
                    <ul style="position: absolute; margin-left: 290px" ;>
                        <li><a href="#">Devolución</a></li>
                        <li><a href="#">Atención al cliente</a></li>
                        <li><a href="#">Postventa</a></li>
                    </ul>
                </li>
                <li><a href="#">Donde estamos</a></li>
                <li><a href="../views/auth/login.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Ordenadores</h1>

        <div class="ordenadores">
            <div class="producto">
                <img src="../../../app/public/images/ordenador1.png" alt="ordenador1">
                <h3>Ordenador sobremesa gaming GAMEPC R5-560</h3>
                <p> Con el GAMEPC R5-560 podrás visualizar contenido multimedia con buen rendimiento y jugar a los
                    videojuegos más populares de la actualidad.</p>
                <a href="../ficha producto/fichaProductoordenador1.html">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../app/public/images/ordenador2.png" alt="ordenador2">
                <h3>Ordenador sobremesa gaming GAME-SYOD32 </h3>
                <p>Este pc GAME-SYOD32 destaca por su fiabilidad, rendimiento y una excelente configuración que deja
                    patente su espíritu gaming.</p>
                <a href="../ficha producto/fichaProductoordenador2.html">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../app/public/images/ordenador3.png" alt="ordenador3">
                <h3>Ordenador sobremesa OFFICE-582</h3>
                <p>Disfruta de un equipo con el que podrás estudiar o trabajar con aplicaciones sin ningún problema,
                    realizar tus tareas más cotidianas como consulta del correo y redes sociales</p>
                <a href="../ficha producto/fichaProductoordenador3.html">Comprar</a>
            </div>
        </div>
    </main>
    <footer>
        <p>Tienda de Informática © 2023</p>
    </footer>
</body>

</html>