<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placas Base</title>
    <link rel="stylesheet" href="../../css/index.css">

</head>

<body>
    <header>
        <div class="logo">
            <img src="../../../app/public/images/logo.png" alt="Logo">
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li>
                    <a href="#">Productos</a>
                    <ul>
                        <li><a href="../productos/ordenadores.html">Ordenadores</a></li>
                        <li><a href="../productos/teclados.html">Teclado</a></li>
                        <li><a href="../productos/portatiles.html">Portatiles</a></li>
                        <li><a href="../productos/ratones.html">Ratones</a></li>
                        <li><a href="#">Placa base</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul>
                        <li><a href="#">Cambio de piezas</a></li>
                        <li><a href="#">Reparación/Formatear</a></li>
                        <li><a href="#">Mantenimiento</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contacto</a>
                    <ul>
                        <li><a href="#">Devolución</a></li>
                        <li><a href="#">Atención al cliente</a></li>
                        <li><a href="#">Postventa</a></li>
                    </ul>
                </li>
                <li><a href="#">Donde estamos</a></li>
                <li><a href="../auth/login.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Placas Base</h1>

        <div class="placasbase">
            <div class="producto">
                <img src="../../../app/public/images/placa1.png" alt="placa1">
                <h3>MAXIMUS VIII GENE</h3>
                <p>Más rendimiento significa una experiencia de juego más fluida y, por lo tanto, más posibilidades de salir vencedor. Con el mejor diseño de OC, UEFI BIOS y una intuitiva utilidad dedicada a OC, disfrutarás de un rendimiento imparable. Además, el exclusivo diseño de refrigeración asegura que tu equipo no derrame una gota de sudor.</p>
                <a href="../ficha producto/fichaProductoplaca1.html">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../app/public/images/placa2.png" alt="placa2">
                <h3>MSI B550 GAMING GEN3</h3>
                <p>Las placas base MSI te permiten administrar velocidades y temperaturas para todos los ventiladores de tu sistema y CPU. Total Fan Control le permite verificar las características principales de su sistema en una interfaz gráfica simplificada. También puede configurar hasta 4 objetivos de temperatura para la CPU y la placa base, que ajustarán las velocidades del ventilador automáticamente.</p>
                <a href="../ficha producto/fichaProductoplaca2.html">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../app/public/images/placa3.png" alt="placa3">
                <h3>MSI H87-G43</h3>
                <p>Las placas base MSI te permiten administrar velocidades y temperaturas para todos los ventiladores de tu sistema y CPU. Total Fan Control le permite verificar las características principales de su sistema en una interfaz gráfica simplificada. También puede configurar hasta 4 objetivos de temperatura para la CPU y la placa base, que ajustarán las velocidades del ventilador automáticamente.</p>
                <a href="../ficha producto/fichaProductoplaca3.html">Comprar</a>
            </div>
        </div>
    </main>
    <footer>
        <p>Tienda de Informática © 2023</p>
    </footer>
</body>

</html>