<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portatiles</title>
    <link rel="stylesheet" href="../../css/index.css">

</head>

<body>
    <header>
        <div class="logo">
            <img src="../../../app/public/images/logo.png" alt="Logo">
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li>
                    <a href="#">Productos</a>
                    <ul>
                        <li><a href="../productos/ordenadores.html">Ordenadores</a></li>
                        <li><a href="../productos/teclados.html">Teclado</a></li>
                        <li><a href="#">Portatiles</a></li>
                        <li><a href="../productos/ratones.html">Ratones</a></li>
                        <li><a href="../productos/placasbase.html">Placa base</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul>
                        <li><a href="#">Cambio de piezas</a></li>
                        <li><a href="#">Reparación/Formatear</a></li>
                        <li><a href="#">Mantenimiento</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contacto</a>
                    <ul>
                        <li><a href="#">Devolución</a></li>
                        <li><a href="#">Atención al cliente</a></li>
                        <li><a href="#">Postventa</a></li>
                    </ul>
                </li>
                <li><a href="#">Donde estamos</a></li>
                <li><a href="../auth/login.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Portatiles</h1>

        <div class="portatiles">
            <div class="producto">
                <img src="../../../app/public/images/portatil1.png" alt="portatil1">
                <h3>Lenovo IdeaPad 3</h3>
                <p>El IdeaPad 3 es adecuado para el aprendizaje en el hogar o para oficina</p>
                <a href="../ficha producto/fichaProductoportatil1.html">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../app/public/images/portatil2.png" alt="portatil2">
                <h3>ASUS F515EA</h3>
                <p>Ya sea para trabajar o jugar, el ASUS F515 es un portátil de uso generalista que ofrece un rendimiento potente y una experiencia visual inmersiva gracias a su pantalla NanoEdge con revestimiento antirreflejos</p>
                <a href="../ficha producto/fichaProductoportatil2.html">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../app/public/images/portatil3.png" alt="portatil3">
                <h3>HP 15s-fq4085ns</h3>
                <p>Permanece conectado a lo que más te importa gracias a una batería de larga duración y a un diseño ligero y fino con bisel con microborde.</p>
                <a href="../ficha producto/fichaProductoportatil3.html">Comprar</a>
            </div>
        </div>
    </main>
    <footer>
        <p>Tienda de Informática © 2023</p>
    </footer>
</body>

</html>