<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratones</title>
    <link rel="stylesheet" href="../../css/index.css">

</head>

<body>
    <header>
        <div class="logo">
            <img src="../../../app/public/images/logo.png" alt="Logo">
        </div>

        <nav>
            <ul>
                <li><a href="../views/index.html">Inicio</a></li>
                <li>
                    <a href="#">Productos</a>
                    <ul style="position: absolute; margin-left: 90px" ;>
                        <li><a href="../views/productos/ordenadores.html">Ordenadores</a></li>
                        <li><a href="../views/productos/teclados.html">Teclados</a></li>
                        <li><a href="../views/productos/portatiles.html">Portatiles</a></li>
                        <li><a href="../views/productos/ratones.html">Ratones</a></li>
                        <li><a href="../views/productos/placasbase.html">Placa base</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul style="position: absolute; margin-left: 180px" ;>
                        <li><a href="#">Cambio de piezas</a></li>
                        <li><a href="#">Reparación/Formatear</a></li>
                        <li><a href="#">Mantenimiento</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contacto</a>
                    <ul style="position: absolute; margin-left: 290px" ;>
                        <li><a href="#">Devolución</a></li>
                        <li><a href="#">Atención al cliente</a></li>
                        <li><a href="#">Postventa</a></li>
                    </ul>
                </li>
                <li><a href="#">Donde estamos</a></li>
                <li><a href="../views/auth/login.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Ratones</h1>

        <div class="ratones">
            <div class="producto">
                <img src="../../../app/public/images/raton1.png" alt="raton1">
                <h3>Logitech G203</h3>
                <p>Aprovecha al máximo tu tiempo de juego con el ratón G203 2nd Gen para gaming, con tecnología
                    LIGHTSYNC, un sensor para gaming y un diseño clásico con 6 botones. Anima tu juego... y tu
                    escritorio.</p>
                <a href="../ficha producto/fichaProductoraton1.html">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../app/public/images/raton2.png" alt="raton2">
                <h3>HP X500</h3>
                <p>Disfrute del ratón con cable HP Wired Mouse X500 que cómodamente se conecta a su equipo a través del
                    puerto USB.</p>
                <a href="../ficha producto/fichaProductoraton2.html">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../app/public/images/raton3.png" alt="raton3">
                <h3>TECKNET</h3>
                <p>Ratón inalámbrico recargable por USB para juegos, Mouse óptico silencioso mecánico para deportes
                    electrónicos, retroiluminación para PC.</p>
                <a href="../ficha producto/fichaProductoraton3.html">Comprar</a>
            </div>
        </div>
    </main>
    <footer>
        <p>Tienda de Informática © 2023</p>
    </footer>
</body>

</html>