<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teclados</title>
    <link rel="stylesheet" href="../../css/index.css">

</head>

<body>
    <header>
        <div class="logo">
            <img src="../../../app/public/images/logo.png" alt="Logo">
        </div>

        <nav>
            <ul>
                <li><a href="../views/index.html">Inicio</a></li>
                <li>
                    <a href="#">Productos</a>
                    <ul style="position: absolute; margin-left: 90px" ;>
                        <li><a href="../views/productos/ordenadores.html">Ordenadores</a></li>
                        <li><a href="../views/productos/teclados.html">Teclados</a></li>
                        <li><a href="../views/productos/portatiles.html">Portatiles</a></li>
                        <li><a href="../views/productos/ratones.html">Ratones</a></li>
                        <li><a href="../views/productos/placasbase.html">Placa base</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul style="position: absolute; margin-left: 180px" ;>
                        <li><a href="#">Cambio de piezas</a></li>
                        <li><a href="#">Reparación/Formatear</a></li>
                        <li><a href="#">Mantenimiento</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contacto</a>
                    <ul style="position: absolute; margin-left: 290px" ;>
                        <li><a href="#">Devolución</a></li>
                        <li><a href="#">Atención al cliente</a></li>
                        <li><a href="#">Postventa</a></li>
                    </ul>
                </li>
                <li><a href="#">Donde estamos</a></li>
                <li><a href="../views/auth/login.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Teclados</h1>

        <div class="teclados">
            <div class="producto">
                <img src="../../../app/public/images/teclado1.png" alt="teclado1">
                <h3>Gamer K300 QWERY</h3>
                <p>Cuenta con 105 teclas semimecánicas, incluidas 19 teclas anti-ghosting y 12 accesos directos mult</p>
                <a href="../ficha producto/fichaProductoteclado1.html">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../app/public/images/teclado2.png" alt="teclado2">
                <h3>HP 100</h3>
                <p>El teclado HP 100 tiene todo lo que necesitas, pero no se queda ahí. Presenta una gama completa de
                    teclas, un perfil cómodo y una configuración sencilla. Conéctalo y empieza a escribir con esta
                    herramienta diseñada para satisfacer tus necesidades.</p>
                <a href="../ficha producto/fichaProductoteclado2.html">Comprar</a>
            </div>
            <div class="producto">
                <img src="../../../app/public/images/teclado3.png" alt="teclado3">
                <h3>Razer BlackWidow V3</h3>
                <p>Disfruta de juegos sin interrupciones con un teclado de juego mecánico inalámbrico al 65% que es el
                    equilibrio perfecto entre forma y función.</p>
                <a href="../ficha producto/fichaProductoteclado3.html">Comprar</a>
            </div>
        </div>
    </main>
    <footer>
        <p>Tienda de Informática © 2023</p>
    </footer>
</body>

</html>