<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha de Producto</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>


<body>
    <header>
        <div class="logo">
            <img src="../../../app/public/images/logo.png" alt="Logo">
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li>
                    <a href="#">Productos</a>
                    <ul>
                      <li><a href="../productos/ordenadores.html">Ordenadores</a></li>
                      <li><a href="../productos/teclados.html">Teclados</a></li>
                      <li><a href="../productos/portatiles.html">Portatiles</a></li>
                      <li><a href="../productos/ratones.html">Ratones</a></li>
                      <li><a href="../productos/placasbase.html">Placa base</a></li>
                  </ul>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul>
                        <li><a href="#">Cambio de piezas</a></li>
                        <li><a href="#">Reparación/Formatear</a></li>
                        <li><a href="#">Mantenimiento</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contacto</a>
                    <ul>
                        <li><a href="#">Devolución</a></li>
                        <li><a href="#">Atención al cliente</a></li>
                        <li><a href="#">Postventa</a></li>
                    </ul>
                </li>
                <li><a href="#">Donde estamos</a></li>
                <li><a href="../auth/login.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>
  <div class="container">
    <div class="imagen-ficha">
      <img src="../../../public/images/placa2G.png" alt="Producto">
    </div>
    <div class="info-ficha">
      <h1 class="titulo-ficha">MSI B550 GAMING GEN3</h1>
      
      <div class="ficha-descripcion">
        <p>Las placas base MSI te permiten administrar velocidades y temperaturas para todos los ventiladores de tu sistema y CPU. Total Fan Control le permite verificar las características principales de su sistema en una interfaz gráfica simplificada. También puede configurar hasta 4 objetivos de temperatura para la CPU y la placa base, que ajustarán las velocidades del ventilador automáticamente.</p>
        <h2>Caracteristicas</h2>
        <ul>
            <li>Admite procesadores de escritorio AMD Ryzen™ 5000 y 3000 Series (no compatible con AMD Ryzen™ 5 3400G y Ryzen™ 3 3200G) y procesadores de escritorio AMD Ryzen™ 4000 G-Series</li>
            <li>Admite memoria DDR4, hasta 4400 (OC) MHz</li>
            <li>Experiencia de juego ultrarrápida: Turbo M.2 Gen3 x4, AMD Turbo USB 3.2 GEN 2</li>
            <li>Diseño de energía mejorado: Core Boost, DDR4 Boost</li>
            <li>MULTI-GPU: Con ranuras STEEL ARMOR PCI-E. Soporta AMD Crossfire™</li>
          </ul>
        <h3>Especificaciones</h3>
        <ul>
            <li>Model Name B550 GAMING GEN3</li>
            <li>CPU Support Supports AMD Ryzen™ 5000 Series, 5000 G-Series, 4000G- Series, and 3000 Series processors</li>
            <li>CPU Socket AMD Socket AM4</li>
          </ul>
        
        <p class="precio-ficha">99.99€</p>
      </div>
      <button class="boton-pagar">Pagar</button>
    </div>
  </div>
</body>

</html>
