<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha de Producto</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>


<body>
    <header>
        <div class="logo">
            <img src="../../app/public/images/logo.png" alt="Logo">
        </div>

        <nav>
          <ul>
            <li><a href="../views/index.html">Inicio</a></li>
            <li>
              <a href="#">Productos</a>
              <ul style="position: absolute; margin-left: 90px" ;>
                <li><a href="../views/productos/ordenadores.html">Ordenadores</a></li>
                <li><a href="../views/productos/teclados.html">Teclados</a></li>
                <li><a href="../views/productos/portatiles.html">Portatiles</a></li>
                <li><a href="../views/productos/ratones.html">Ratones</a></li>
                <li><a href="../views/productos/placasbase.html">Placa base</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Servicios</a>
              <ul style="position: absolute; margin-left: 180px" ;>
                <li><a href="#">Cambio de piezas</a></li>
                <li><a href="#">Reparación/Formatear</a></li>
                <li><a href="#">Mantenimiento</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Contacto</a>
              <ul style="position: absolute; margin-left: 290px" ;>
                <li><a href="#">Devolución</a></li>
                <li><a href="#">Atención al cliente</a></li>
                <li><a href="#">Postventa</a></li>
              </ul>
            </li>
            <li><a href="#">Donde estamos</a></li>
            <li><a href="../views/auth/login.html">Iniciar sesión</a></li>
          </ul>
        </nav>
    </header>
  <div class="container">
    <div class="imagen-ficha">
      <img src="../../../public/images/placa3G.jpg" alt="Producto">
    </div>
    <div class="info-ficha">
      <h1 class="titulo-ficha">MSI H87-G43</h1>

      
      <div class="ficha-descripcion">
        <p>Las placas base MSI te permiten administrar velocidades y temperaturas para todos los ventiladores de tu sistema y CPU. Total Fan Control le permite verificar las características principales de su sistema en una interfaz gráfica simplificada. También puede configurar hasta 4 objetivos de temperatura para la CPU y la placa base, que ajustarán las velocidades del ventilador automáticamente.</p>
        <h2>Caracteristicas</h2>
        <ul>
            <li>4th generación Intel® Core™I7/Core/™I5/Core/™Procesadores i3 / Pentium® / Celeron® para enchufe LGA 1150</li>
            <li>Consulta el soporte de CPU para CPU compatible</li>
            <li>MULTI-GPU: Con ranuras STEEL ARMOR PCI-E. Soporta AMD Crossfire™</li>
          </ul>
        <h3>Especificaciones</h3>
        <ul>
            <li>Intel LGA 1150 (Zócalo H3) Intel® Celeron®, Intel® Pentium®</li>
            <li>PC ATX Intel® H87 Realtek ALC1150 7.1 channels</li>
            <li>DDR3-SDRAM 4 DIMM No ECC Memoria interna máxima: 32 GB</li>
          </ul>
        
        <p class="precio-ficha">199.99€</p>
      </div>
      <button class="boton-pagar">Pagar</button>
    </div>
  </div>
</body>

</html>
