<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha de Producto</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>


<body>
    <header>
        <div class="logo">
            <img src="../../../app/public/images/logo.png" alt="Logo">
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li>
                    <a href="#">Productos</a>
                    <ul>
                      <li><a href="../productos/ordenadores.html">Ordenadores</a></li>
                      <li><a href="../productos/teclados.html">Teclados</a></li>
                      <li><a href="../productos/portatiles.html">Portatiles</a></li>
                      <li><a href="../productos/ratones.html">Ratones</a></li>
                      <li><a href="../productos/placasbase.html">Placa base</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul>
                        <li><a href="#">Cambio de piezas</a></li>
                        <li><a href="#">Reparación/Formatear</a></li>
                        <li><a href="#">Mantenimiento</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contacto</a>
                    <ul>
                        <li><a href="#">Devolución</a></li>
                        <li><a href="#">Atención al cliente</a></li>
                        <li><a href="#">Postventa</a></li>
                    </ul>
                </li>
                <li><a href="#">Donde estamos</a></li>
                <li><a href="../../views/auth/login.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>
  <div class="container">
    <div class="imagen-ficha">
      <img src="../../../app/public/images/raton2g.png" alt="Producto">
    </div>
    <div class="info-ficha">
      <h1 class="titulo-ficha">TECKNET</h1>
      
      <div class="ficha-descripcion">
        <p>Ratón inalámbrico recargable por USB para juegos, Mouse óptico silencioso mecánico para deportes electrónicos, retroiluminación para PC</p>
        <h2>Caracteristicas</h2>
        <ul>
            <li>Tecnología inalámbrica.</li>
            <li>Sensor óptico.</li>
            <li>Switches mecánicos para ratón.</li>
          </ul>
        <h3>Especificaciones</h3>
        <ul>
            <li>Cuenta con 6 botones programables que puedes configurar por completo.</li>
            <li>Batería de adecuada duración.</li>
          </ul>
        
        <p class="precio-ficha">9,99€</p>
      </div>
      <button class="boton-pagar">Pagar</button>
    </div>
  </div>
</body>

</html>
