<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha de Producto</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>


<body>
    <header>
        <div class="logo">
            <img src="../../../app/public/images/logo.png" alt="Logo">
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li>
                    <a href="#">Productos</a>
                    <ul>
                      <li><a href="../productos/ordenadores.html">Ordenadores</a></li>
                      <li><a href="../productos/teclados.html">Teclados</a></li>
                      <li><a href="../productos/portatiles.html">Portatiles</a></li>
                      <li><a href="../productos/ratones.html">Ratones</a></li>
                      <li><a href="../productos/placasbase.html">Placa base</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul>
                        <li><a href="#">Cambio de piezas</a></li>
                        <li><a href="#">Reparación/Formatear</a></li>
                        <li><a href="#">Mantenimiento</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contacto</a>
                    <ul>
                        <li><a href="#">Devolución</a></li>
                        <li><a href="#">Atención al cliente</a></li>
                        <li><a href="#">Postventa</a></li>
                    </ul>
                </li>
                <li><a href="#">Donde estamos</a></li>
                <li><a href="../../views/auth/login.html">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>
  <div class="container">
    <div class="imagen-ficha">
      <img src="../../../app/public/images/raton1g.png" alt="Producto">
    </div>
    <div class="info-ficha">
      <h1 class="titulo-ficha">Logitech G203</h1>
      
      <div class="ficha-descripcion">
        <p>Aprovecha al máximo tu tiempo de juego con el ratón G203 2nd Gen para gaming, con tecnología LIGHTSYNC, un sensor para gaming y un diseño clásico con 6 botones. Anima tu juego... y tu escritorio.</p>
        <h2>Caracteristicas</h2>
        <ul>
            <li>COLORES RGB LIGHTSYNC</li>
            <li>Los ventiladores se mantienen en silencio durante las tareas de productividad, y operan con una eficiencia extrema durante las partidas.</li>
            <li>Se acabaron los tirones en las aplicaciones profesionales y situaciones de carga elevada.</li>
            <li>Se aprovecha mejor la energía, lo que permite ahorrar dinero.</li>
          </ul>
        <h3>Especificaciones</h3>
        <ul>
            <li>1 x M.2 Socket 3with M Key, type 2242/2260/2280/22110 storage devices support (both SATA & PCIE mode)*2</li>
            <li>6 x puerto(s) SATA 6Gb/s, gris</li>
            <li>Compatible con Intel® Rapid Storage Technology</li>
          </ul>
        
        <p class="precio-ficha">220€</p>
      </div>
      <button class="boton-pagar">Pagar</button>
    </div>
  </div>
</body>

</html>
