<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha de Producto</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>


<body>
    <header>
        <div class="logo">
            <img src="../../../app/public/images/logo.png" alt="Logo">
        </div>

        <nav>
          <ul>
            <li><a href="../views/index.html">Inicio</a></li>
            <li>
              <a href="#">Productos</a>
              <ul style="position: absolute; margin-left: 90px" ;>
                <li><a href="../views/productos/ordenadores.html">Ordenadores</a></li>
                <li><a href="../views/productos/teclados.html">Teclados</a></li>
                <li><a href="../views/productos/portatiles.html">Portatiles</a></li>
                <li><a href="../views/productos/ratones.html">Ratones</a></li>
                <li><a href="../views/productos/placasbase.html">Placa base</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Servicios</a>
              <ul style="position: absolute; margin-left: 180px" ;>
                <li><a href="#">Cambio de piezas</a></li>
                <li><a href="#">Reparación/Formatear</a></li>
                <li><a href="#">Mantenimiento</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Contacto</a>
              <ul style="position: absolute; margin-left: 290px" ;>
                <li><a href="#">Devolución</a></li>
                <li><a href="#">Atención al cliente</a></li>
                <li><a href="#">Postventa</a></li>
              </ul>
            </li>
            <li><a href="#">Donde estamos</a></li>
            <li><a href="../views/auth/login.html">Iniciar sesión</a></li>
          </ul>
        </nav>
    </header>
  <div class="container">
    <div class="imagen-ficha">
      <img src="../../../app/public/images/portatil1g.png" alt="Producto">
    </div>
    <div class="info-ficha">
      <h1 class="titulo-ficha">Lenovo IdeaPad 3</h1>
      
      <div class="ficha-descripcion">
        <p>El IdeaPad 3 es adecuado para el aprendizaje en el hogar o para oficina</p>
        <h2>Caracteristicas</h2>
        <ul>
            <li>Reducción de la luz azul dañina para proteger sus ojos.</li>
            <li>Cancelación de ruido para bloquear el ruido de fondo.</li>
          </ul>
        <h3>Especificaciones</h3>
        <ul>
            <li>Diseño increíblemente fino y ligero</li>
            <li>Procesador Intel Core i5-1155G7</li>
          </ul>
        
        <p class="precio-ficha">580€</p>
      </div>
      <button class="boton-pagar">Pagar</button>
    </div>
  </div>
</body>

</html>
