<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Altas</title>
    <link rel="stylesheet" href="../../../css/altas.css" type="text/css"/>
</head>
<body>
    <div class="nav">
        <h1>Altas</h1>
        <a href="../altas/altaEmpleado.html" class="enlace">
            <p>Alta Empleado</p>
        </a>
        <a href="../../index.html" class="enlace">
            <p>Volver Atras</p>
        </a>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="container">
        <a href="./altaAlmacen.html">
            <button class="botones">Alta Almacen</button>
        </a>
        <br/>
        <br/>
        <a href="./altaEstablecimiento.html">
            <button class="botones">Alta Establecimiento</button>
        </a>
        <br/>
        <br/>
        <a href="./altaEstante.html">
            <button class="botones">Alta Estante</button>
        </a>
        <br/>
        <br/>
        <a href="./altaProducto.html">
            <button class="botones">Alta Producto</button>
        </a>
        <br/>
        <br/>
        <a href="../altas/altaServicio.html">
            <button class="botones">Alta Servicio</button>
        </a>
        
    </div>
</body>
</html>