<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Producto</title>
    <link rel="stylesheet" href="../../../css/empleados.css" type="text/css"/>
</head>

<body>
    <div class="nav">
        <h1>Alta Producto</h1>
        <a href="./altas.html" class="enlace">
            <p>Volver Atras</p>
        </a>
    </div>
    <div class="container">
        <form method="" action="" id="productoForm">
            <legend>Alta Producto</legend>
            <label>Id Producto</label>
            <input type="number" id="idProducto" min="1" required />
            <br />
            <label>Descripción</label>
            <textarea id="descripcion" maxlength="255"></textarea>
            <br />
            <label>Precio Compra</label>
            <input type="number" id="precioCompra" min="0" required />
            <br />
            <label>Precio Venta</label>
            <input type="number" id="precioVenta" min="0" required />
            <br />
            <input type="submit" value="Enviar" onclick="enviarFormulario(event)" />
            <input type="button" value="Borrar" />
        </form>
    </div>
</body>


<!-- VALIDACIÓN -->

<script>

    function enviarFormulario(event) {

        const idProducto = parseInt(document.getElementById('idProducto').value);
        const descripcion = document.getElementById('descripcion').value;
        const precioCompra = parseFloat(document.getElementById('precioCompra').value);
        const precioVenta = parseFloat(document.getElementById('precioVenta').value);


        if (idProducto < 1) {
            alert('El campo Id Producto debe ser mayor o igual a 1.');
            return;
        }

        if (descripcion.length > 255) {
            alert('La descripción no puede tener más de 255 caracteres.');
            return;
        }

        if (precioCompra < 0 || precioVenta < 0) {
            alert('El precio de compra y el precio de venta no pueden ser valores negativos.');
            return;
        }
    }


</script>

</html>