<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Establecimiento</title>
    <link rel="stylesheet" href="../../../css/empleados.css" type="text/css"/>
</head>

<body>
    <div class="nav">
        <h1>Alta Establecimiento</h1>
        <a href="./altas.html" class="enlace">
            <p>Volver Atras</p>
        </a>
    </div>
    <div class="container">
        <form class="alta" method="" action="" id="establecimientoForm">
            <legend>Alta Establecimiento</legend>
            <label>Id Establecimiento</label>
            <input type="number" id="idEstablecimiento" min="1" required />
            <br />
            <label>Id Empleado</label>
            <input type="number" id="idEmpleado" min="1" required />
            <br />
            <label>Id Almacen</label>
            <input type="number" id="idAlmacen" min="1" required />
            <br />
            <label>Dirección Establecimiento</label>
            <input type="text" id="direccionEstablecimiento"  maxlength="100" required />
            <br />
            <label>Teléfono Establecimiento</label>
            <input type="tel" id="telefonoEstablecimiento" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required />
            <input type="submit" value="Enviar" onclick="enviarFormulario(event)" class="boton" />
            <input type="button" value="Borrar" class="boton" />
        </form>
    </div>
</body>

<!-- VALIDACIÓN -->
<script>
    function enviarFormulario(event) {

        const idEstablecimiento = parseInt(document.getElementById('idEstablecimiento').value);
        const idEmpleado = parseInt(document.getElementById('idEmpleado').value);
        const idAlmacen = parseInt(document.getElementById('idAlmacen').value);
        const direccionEstablecimiento = document.getElementById('direccionEstablecimiento').value;
        const telefonoEstablecimiento = document.getElementById('telefonoEstablecimiento').value;


        if (idEstablecimiento < 1 || idEmpleado < 1 || idAlmacen < 1) {
            alert('Los campos Id Establecimiento, Id Empleado y Id Almacen deben ser mayores o iguales a 1.');
            return;
        }

        if (direccionEstablecimiento.length > 100) {
            alert('La dirección del establecimiento no puede tener más de 100 caracteres.');
            return;
        }

    }

</script>

</html>