<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Altas</title>
</head>
<body>
    <div>
        <h1>Altas</h1>
        <a href="../altas/altaEmpleado.html">
            <p>Alta Empleado</p>
        </a>
        <a href="../areaEmpleado.html">
            <p>Volver Atras</p>
        </a>
    </div>
    <div>
        <a href="./altaAlmacen.html">
            <button>Alta Almacen</button>
        </a>
        <a href="./altaEstablecimiento.html">
            <button>Alta Establecimiento</button>
        </a>
        <a href="./altaEstante.html">
            <button>Alta Estante</button>
        </a>
        <a href="./altaProducto.html">
            <button>Alta Producto</button>
        </a>
        
    </div>
</body>
</html>