<!DOCTYPE html>
<html lang="es">

<head>
    <title>Alta de servicios</title>
    <link rel="stylesheet" href="../../../css/empleados.css" type="text/css"/>
    
</head>

<body>
    <div class="nav">
        <h1>Alta del servicio</h1>
        <a href="./altas.html" class="enlace">
            <p>Volver Atras</p>
        </a>
    </div>
    <div class="container">
        

        <form class="alta">

            <label for="id_servicio">Id_servicio:</label>
            <input type="number" id="id_servicio" name="id_servicio" required><br>

            <label for="tipo">Tipo reparación:</label>
            <select id="tipo" name="tipo" required>
                <option value="">Seleccione el tipo de reparación:</option>
                <option value="mantenimiento">Mantenimiento</option>
                <option value="cambiopiezas">Cambio de piezas</option>
                <option value="rep_for">Rep_for</option>
            </select>

            <label for="empleado_asignado">Empleado que va a realizar el servicio:</label>
            <select id="empleado_asignado" name="empleado_asignado" required>
                <option value="">Seleccione el empleado:</option>
                <option value="Maria Aguacate">Maria Aguacate</option>
                <option value="Javi Lala">Javi Lala</option>
            </select>

            <label for="servicio_cliente">Cliente al que se le realiza el servicio:</label>
            <select id="servicio_cliente" name="servicio_cliente" required>
                <option value="">Seleccione el cliente que contrata el servicio:</option>
                <option value="Jaime 1">Jaime 1</option>
                <option value="Miguel del Jaime">Miguel del Jaime</option>
                <option value="Jaime 2 ">Jaime 2</option>
            </select>
            <br/>
            <button type="submit" class="boton">Dar de alta</button>
            <br/>
        </form>
    </div>
   </body>