<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Establecimiento</title>
</head>
<body>
    <div>
        <h1>Alta Establecimiento</h1>
        <a href="./altas.html">
            <p>Volver Atras</p>
        </a>
    </div>
    <div>
        <form>
            <legend> Alta Establecimiento</legend>
                <label>Id Estblecimiento</label>
                <input type="text"  required/>
                <br/>
                <label>Id Empleado</label>
                <input type="text"  required/>
                <br/>
                <label>Id Almacen</label>
                <input type="text"  required/>
                <br/>
                <label>Dirección Establecimiento</label>
                <input type="text"/>
                <br/>
                <label>Telefono Establecimeinto</label>
                <input type="tel"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"/>
                <input type="submit" value="Enviar"/>
        </form>
    </div>
</body>
</html>