<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Empleado</title>
    <link rel="stylesheet" href="../../../css/empleados.css" type="text/css"/>
</head>
<body>
    <div class="nav">
        <h1>Alta Empleado</h1>
        <a href="./altas.html" class="enlace">
            <p>Volver Atras</p>
        </a>
    </div>
    <div class="container">
        <form class="alta">
            <legend>Alta Empleado</legend>
            <label>Id Empleado</label>
            <input type="text"  required/>
            <br/>
            <label>Nombre</label>
            <input type="text"  required/>
            <br/>
            <label>Apellidos</label>
            <input type="text"  required/>
            <br/>
            <label>Direccion</label>
            <input type="text"  required/>
            <br/>
            <label>Dni</label>
            <input type="text"  required/>
            <br/>
            <label>Telefono</label>
            <input type="tel"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"  required/>
            <br/>
            <label>Número Seguridad Social</label>
            <input type="number"  required/>
            <br/>
            <label>Tipo de Empleado</label>
            <select> 
                <option>Técnico</option>
                <option>Dependiente</option>
            </select>
            <br/>
            <label>Es Jefe</label>
            <select>
                <option>Si</option>
                <option>No</option>
            </select>
            <br/>
            <input type="submit" value="Enviar"  class="boton"/>
            <input type="submit" value="Borrar"  class="boton"/>
        </form>
    </div>
</body>
</html>