<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Almacen</title>
    <link rel="stylesheet" href="../../../css/empleados.css" type="text/css"/>
</head>

<body>
    <div class="nav">
        <h1>Alta Almacen</h1>
        <a href="./altas.html" class="enlace">
            <p>Volver Atras</p>
        </a>
    </div>
    <div class="container">
        <form id="almacenForm" class="alta">
            <legend>Alta Almacen</legend>
            <br/>
            <label>Id Almacen</label>
            <input type="number" id="idAlmacen" min="1" required />
            <br />
            <label>Metros cuadrados</label>
            <input type="number" id="metrosCuadrados" min="0" required />
            <br />
            <label>Numero Estantes</label>
            <input type="number" id="numeroEstantes" min="0" required />
            <br />
            <input type="submit" value="Enviar" onclick="enviarFormulario(event)"  class="boton" />
            <input type="button" value="Borrar" onclick="borrarFormulario()"   class="boton"/>
        </form>
    </div>
</body>

<!-- VALIDACIÓN -->
<script>

    function enviarFormulario(event) {

        const idAlmacen = parseInt(document.getElementById('idAlmacen').value);
        const metrosCuadrados = parseInt(document.getElementById('metrosCuadrados').value);
        const numeroEstantes = parseInt(document.getElementById('numeroEstantes').value);

        if (idAlmacen < 1 || metrosCuadrados < 0 || numeroEstantes < 0) {
            alert('No puede haber valores negativos');
            return;
        }

        if (numeroEstantes > Math.floor(metrosCuadrados / 10) * 5) {
            alert('El número de estantes supera el máximo permitido. Solo 5 por cada 10 metros cuadrados');
            return;
        }

    }
</script>

</html>