<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Producto</title>
    <link rel="stylesheet" href="../../../css/empleados.css" type="text/css"/>
</head>
<body>
    <div class="nav">
        <h1>Alta Producto</h1>
        <a href="./altas.html" class="enlace">
            <p>Volver Atras</p>
        </a>
    </div>
    <div class="container">
        <form class="alta">
            <legend>Alta Producto</legend>
            <label>Id Producto</label>
            <input type="text"  required/>
            <br/>
            <label>Descripcion</label>
            <textarea></textarea>
            <br/>
            <label>Precio Compra</label>
            <input type="number"  required/>
            <br/>
            <label>Precio Venta</label>
            <input type="number"  required/>
            <br/>
            <input type="submit" value="Enviar"  class="boton"/>
            <input type="submit" value="Borrar"  class="boton"/>
        </form>
    </div>
</body>
</html>