<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Almacen</title>
</head>
<body>
    <div>
        <h1>Alta Almacen</h1>
        <a href="./altas.html">
            <p>Volver Atras</p>
        </a>
    </div>
    <div>
        <form>
            <legend>Alta Almacen</legend>
            <label>Id Almacen</label>
            <input type="text"  required/>
            <br/>
            <label>Metros cuadrados</label>
            <input type="number"  required/>
            <br/>
            <label>Numero Estantes</label>
            <input type="number"  required/>
            <br/>
            <input type="submit" value="Enviar"/>
        </form>
    </div>
</body>
</html>